@model Figure
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <form asp-action="Calculate" asp-controller="Home">
        <select id ="FiguresSelect" asp-for="Name">
            <option id = "None">Select Figure</option>
            <option id = "Rectangle">Rectangle</option>
            <option id = "Square">Square</option>
            <option id = "Triangle">Triangle</option>
            <option id = "Circle">Circle</option>
            <option id = "Trapeze">Trapeze</option>
        </select>
        <br>
        <label id = "selectedItem">Please select a figure.</label>
        <br>
        <input id ="valuesTextBox" asp-for="Values" type="hidden">

        <input id = "submitButton" type="hidden" value="Submit">
        <br>
        @if (Model != null && Model.ErrorMessage != null){
            <label>@Model.ErrorMessage</label>
        } else if(Model != null)
        {
        <label id = "resultLabel" >Surface area of chosen figure: @Model.Name is equal to @Model.Answear</label>
        }
    </form>

    @section Scripts
    {
    <script>   
    $("#FiguresSelect").change(function () {
        var value = $(this).children(":selected").attr("id");
        switch(value)
        {
            case 'None': $("#selectedItem").text("Please select a figure."); break;
            case 'Rectangle': $("#selectedItem").text("To get a rectangle area, please type side lengths separated by space. Order does not matter");break; 
            case 'Square': $("#selectedItem").text("To get square area please type its side length."); break;
            case 'Triangle': $("#selectedItem").text("To get a triangle area please type its base length and a high separated by space. Example: baseLength highLength."); break;
            case 'Circle': $("#selectedItem").text("To get a circle area please type its radius."); break;
            case 'Trapeze': $("#selectedItem").text("To get trapeze area please type its bases lengths and its high separated by space. Example: firstBase secondBase high."); break;
            default: console.log("error");
        }
    });
    $("#FiguresSelect").change( function() {
        if($("#FiguresSelect").children(":selected").attr("id") != "None")
        {
        $("#valuesTextBox").prop("type", "text")
        $("#submitButton").prop("type", "submit")
        } else {
        $("#valuesTextBox").prop("type", "hidden")
        $("#submitButton").prop("type", "hidden")
        }
        $("#resultLabel").text("");
        $("#valuesTextBox").text("");
        
    });
    if($("#FiguresSelect").children(":selected").attr("id") != "None")
    {
        $("#valuesTextBox").prop("type", "text")
        $("#submitButton").prop("type", "submit")
    }
    if($("#FiguresSelect").children(":selected").attr("id") != "None")
    {
        const text = $("#FiguresSelect").children(":selected").attr("id")

        switch(text)
        {
            case 'None': $("#selectedItem").text("Please select a figure."); break;
            case 'Rectangle': $("#selectedItem").text("To get a rectangle area, please type side lengths separated by space. Order does not matter");break; 
            case 'Square': $("#selectedItem").text("To get square area please type its side length."); break;
            case 'Triangle': $("#selectedItem").text("To get a triangle area please type its base length and a high separated by space. Example: baseLength highLength."); break;
            case 'Circle': $("#selectedItem").text("To get a circle area please type its radius."); break;
            case 'Trapeze': $("#selectedItem").text("To get trapeze area please type its bases lengths and its high separated by space. Example: firstBase secondBase high."); break;
            default: console.log("error");
        }
    }
    </script>
    }
</div>
